.backimg {
  background-image: url(https://getwallpapers.com/wallpaper/full/4/b/7/381231.jpg);
  background-size: cover;
}

.cardimg {
  background-image: url(https://www.fapceramiche.com/media/products/images/article/generated_fap_colornow_2016_tortora_305x915_fondo_1600x1600_palette_fMRV_1_wr.jpg.520x516_q85_crop_upscale.jpg);
  background-size: cover;
}